@use 'vars';

.Login{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container{
    width: 300px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.logo{
    width: 150px;
    display: none;
    margin-bottom: 48px;
    justify-self: center;
}

.main-form{
    display: flex;
    flex-direction: column;
}
.main-form a{
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 52px;
}

.label{
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input{
    font-size: var(--md);
    height: 30px;
    margin-bottom: 8px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: var(--text-input-field);
}
.input-email{
    margin-bottom: 24px;
}

.primary-button{
    font-size: var(--md);
    font-weight: bold;
    height: 52px;
    width: 100%;
    border-radius: 8px;
    border: none;
    color: var(--white);
    cursor: pointer;
    background-color: var(--hospital-green);
}
.login-button{
    margin-top: 28px;
    margin-bottom: 12px;
}

.secondary-button{
    font-size: var(--md);
    font-weight: bold;
    height: 52px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
    cursor: pointer;
    background-color: var(--white);
}
.signup-button{
    margin-top: 28px;
    margin-bottom: 12px;
}

@media (max-width: 640px){
    .logo{
        display: block;
    }

    .secondary-button{
        width: 300px;
        position: absolute;
        bottom: 0;
        margin-bottom: 24px;
    }
}